<footer class="mh4 pt4">
  <div class="flex items-center">
    <div class="flex mv2 w-80">
      <div class="w-50">
        <address class="fs-normal">
        <span class="fw8">Hamburg</span><br>
     Mozilla Foundation<br>
     331 E Evelyn Ave<br>
     Mountain View, CA 94041<br>
     USA
        </address>
      </div>
      <div class="w-50">
        <address class="fs-normal">
          <span class="fw8">Hamburg</span><br>
     Mozilla Foundation<br>
     331 E Evelyn Ave<br>
     Mountain View, CA 94041<br>
     USA
        </address>
      </div>
    </div>
    <div class="w-20">
      <ul class="list pa0 ma0">
        {% assign pages = site.pages | sort:'order' %}
        {% for node in pages %}
        {% if node.layout == 'page' %}
        <!-- relative_url -->
        {% assign href = node.url %}
            <li class="db">
              <a class="dark-gray no-underline" href="{{ href }}">{{ node.title | escape }}</a>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <span class="db pv3">&copy; 2016 {{site.title}} </span>
  </div>

</footer>
