<footer class="mh4 pt4">
  <div class="flex items-center">
    <div class="flex mv2 w-80">
      <div class="w-50">
        <address class="fs-normal">
        <span class="fw8">Hamburg</span><br>
     Mozilla Foundation<br>
     331 E Evelyn Ave<br>
     Mountain View, CA 94041<br>
     USA
        </address>
      </div>
      <div class="w-50">
        <address class="fs-normal">
          <span class="fw8">Hamburg</span><br>
     Mozilla Foundation<br>
     331 E Evelyn Ave<br>
     Mountain View, CA 94041<br>
     USA
        </address>
      </div>
    </div>
    <div class="w-20">
      <ul class="list pa0 ma0">
        {% for page in site.pages %}
        {% if page.layout == 'page' %}
        <!-- relative_url -->
        {% assign href = page.url | remove: "/" | prepend: "#" %}
            <li class="navMenu-item db mv1">
              <a class="dark-gray no-underline" href="{{ href }}">{{ page.title | escape }}</a>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <span class="db pv3">&copy; 2016 GDPR </span>
  </div>

</footer>
