<footer class="mwc ph4 pt4 center">
  <div class="flex-ns items-center">
    <div class="flex mv3 w-90-ns">
      <div class="w-50">
        <address class="fs-normal">
        <span class="fw8">UK Office:</span><br>
        3 Warehouse K<br>
        2 Western Gateway<br>
        E16 1DR<br>
        London, United Kingdom
        </address>
      </div>
      <div class="w-50">
        <address class="fs-normal">
          <span class="fw8">Kenya Office:</span><br>
          P.O. Box 80559-80100<br>
          Port Reitz<br>
          Mombasa, Kenya<br>
        </address>
      </div>
    </div>
    <div class="w-10-ns">
      <ul class="list pa0 ma0">
        {% assign pages = site.pages | sort:'order' %}
        {% for node in pages %}
        {% if node.layout == 'page' %}
        <!-- relative_url -->
        {% assign href = node.url %}
            <li class="db-ns dib mr1 ma0-ns">
              <a class="dark-gray no-underline" href="{{ href }}">{{ node.title | escape }}</a>
            </li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <span class="db pv3">&copy; 2016-2018 KenProJDA </span>
  </div>

</footer>
