<header id="header-trigger" class="fixed top-0 z-5 w-100">
  <nav class="flex justify-between items-center mh4">
      <a href="/" class="ttu no-underline f2 fw8 tc db pv3 white">HCS</a>


<!--   <ul class="pa0 ma0 list w-100 w-auto-ns tc pv3 mh6-ns">
    {% assign pages = site.partials | sort: 'order' %}
    {% for page in pages %}
    {% capture id_title %}{{ page.title | remove:'/' | remove:' ' | downcase }}{% endcapture %}
    {% if page.type == "modular" %}
    <li class="dib mh3"><a href="#{{id_title}}" class="ttu dark-gray no-underline">{{page.title}}</a></li>
    {% endif %}
 {% endfor %}
  </ul> -->
  <div class="">
  <ul class="pa0 ma0 list tc white dib mh3">
    <li class="dib">
      <a href="#" class="gray no-underline">KOR</a>
    </li>
    <span>/</span>
    <li class="dib">
      <a href="#" class="white no-underline">EN</a>
    </li>
  </ul>
              <span class="white dib"><img src="{{ "/assets/images/hamburger.svg" | relative_url }}" width="24px" height="24px"  class="v-top" alt="Menu"><span class="clip">Menu</span></span>

  </div>
<!--       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M86.1,58.5H13.9c-4.7,0-8.5-3.8-8.5-8.5s3.8-8.5,8.5-8.5h72.2c4.7,0,8.5,3.8,8.5,8.5S90.8,58.5,86.1,58.5z"></path><path d="M86.1,35H13.9c-4.7,0-8.5-3.8-8.5-8.5s3.8-8.5,8.5-8.5h72.2c4.7,0,8.5,3.8,8.5,8.5S90.8,35,86.1,35z"></path><path d="M86.1,82.1H13.9c-4.7,0-8.5-3.8-8.5-8.5S9.2,65,13.9,65h72.2c4.7,0,8.5,3.8,8.5,8.5S90.8,82.1,86.1,82.1z"></path></g></svg> -->

  </nav>

</header>
