<header class="mwc">
  <div class="flex justify-between items-center absolute w-100 ph4 pv3 z-2 mwc">
      <a href="/" class="w-25-ns mw4">
        <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="React"/>
      </a>
        <nav class="navMenu list pt4 ma0 mh2 pa0-ns w-75-ns">
          <ul class="list pa0 ma0 flex flex-column flex-row-ns justify-between-ns items-center">
            {% assign pages = site.pages | sort:'order' %}
            {% for node in pages %}
            {% if node.layout == 'page' %}
            <!-- relative_url -->
            {% assign href = node.url %}
                <li class="navMenu-item-top">
                  {% if node.title ==  page.title %}
                  <a class="red no-underline" href="{{ href }}">{{ node.title | escape }}</a>
                  {% else %}
                  <a class="white no-underline" href="{{ href }}">{{ node.title | escape }}</a>
                  {% endif %}
                </li>
                {% endif %}
            {% endfor %}
          </ul>
        </nav>
        <div class="z-3 dn-ns db">
          <span class="navMenu-toggle db" id="nav-trigger"><img src="{{ "/assets/images/hamburger.svg" | relative_url }}" width="24px" height="24px"  class="v-top" alt="Menu"><span class="clip">Menu</span></span>
        </div>
  </div>
</header>
