body {
  color: $dark-gray;
  font-family: "Nunito", serif;
  line-height: 1.5;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span {
//   &::selection {
//     background-color: $white;
//     color: $light-purple;
//   }
// }
